* { text-rendering: optimizeLegibility; }

// use this on large text, 20px+.  headings mostly
// -webkit-font-smoothing: antialiased;
// -moz-osx-font-smoothing: grayscale;


// font weights...
// 900 .brandon-black
// 700 .brandon-bold
// 500 .brandon-medium
// 400 .brandon-regular

.img-responsive { max-width: 100%; }

.container {
  width: 942px; // width of sgh container.  do not change
  min-height: 500px;
  padding: 0;
  background: #fff;
  position: relative;
  *, :before, :after {
    @include box-sizing(border-box);
  }
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}