body {
  font-family: "brandon-grotesque"; font-weight: 500; color: #000; font-size: 14px; line-height: 1.42857;
  a { text-decoration: none;}
}
#dummy-header { background: #000 url('/images/dummy-header.png') 50% 50% no-repeat; height: 150px; }
#dummy-footer { background: #000 url('/images/dummy-footer.png') 50% 50% no-repeat; height: 40px; }
.container { margin: 0 auto; }